
body{
  overflow: hidden;
}

.livrosTela{
  background-image: url('./Assets/biblioteca.jpg');
  height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.livro-cadastrado{
  width: 70%;
  background-color: white;
  border-radius:30;
  position: relative;
  color: white;
  z-index: 4;
  color: black;
  transform: translateY(-280%);

}

.bem-vindo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  text-align: center;
  border-radius:30;
  position: relative;
  color: white;
  z-index: 4;
  border:black;
  transform: translate(80%);
  transform: translateY(-250%);
  text-shadow: 2px 2px black;

}

.rodape{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:orange;
  float: left;
}
.divMsgCentro{
  transform: translate(80%);
  transform: translateY(0%);
}

.quemSomos{
 height: 550px;
 text-align: center;
 align-items: center;
 justify-items: center;
 vertical-align: middle;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
