
body{
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bem-vindo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  text-align: center;
  border-radius:30;
  position: relative;
  color: white;
  z-index: 4;
  border:black;
  transform: translate(80%);
  transform: translateY(-250%);
  text-shadow: 2px 2px black;

}

.rodape{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:orange;
  float: left;
}
.divMsgCentro{
  transform: translate(80%);
  transform: translateY(0%);
}


a:hover{
  color:white
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
